<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Mi nombre es Jeremías Cañadas Oliva, programador Front-End y algo de Back-End, soy una persona muy
        perseverante que se somete a retos y nunca se rinde a pesar de las adversidades. Amante de la
        tecnología y con ideas innovadoras competitivas. Autodidacta, nunca dejo de aprender. Soy empático,
        responsable y proactivo.
    </p>
    <p>
        Soy una persona autodidacta a la que le apasiona el mundo del desarrollo web desarrollando mis
        habilidades como persona autodidacta con libros y plataformas en línea. Mi curiosidad me permite
        aprender rápidamente nuevas herramientas y tecnologías cuando sea necesario.
    </p>
    <p>
        Disfruto compartiendo mis conocimientos y ayudando a otros cuando es posible. No soy un experto pero
        en cada proyecto que hago trato de poner el cien por ciento de mi además de que aprendo bastante
        rápido, el lenguaje que mas domino es javascript, también tengo conocimientos en backend con nodeJs y
        Express.js, asi que puedo trabajar tanto de frontend como de backend y creo que la experiencia impulsa
        el aprendizaje.
    </p>
    <p>
        En lo referente al desarrollo web he estudiado y aprendido distintos lenguajes de programación.
        Comencé con
        Python como primer lenguaje de programación luego pasé a las bases de datos SQL en el cual aprendí
        SQLite,
        MySQL, PostgreSQL. Al terminar las bases de datos me adentré en mi primer framework y se trata de
        Django. Cuando
        finalicé el curso y después de practicar con Django me di cuenta que me encantaba el desarrollo web
        y me puse a
        estudiar JavaScript,pero antes estudié HTML a fondo, CSS3 y de ahí pasé al lenguaje de JavaScript
        aprendiendo
        también el
        framework AngularJS 4 hasta AngularJS 10 junto con MongoDB,
        NodeJS y
        TypeScript.
    </p>
    <p>Lenguajes, frameworks y más aprendidos:</p>

    <ul class="listas">
        <li style="float: left;margin-left: 4%">HTML5</li>
        <li style="float: left;margin-left: 5%">CSS3</li>
        <li style="float: left;margin-left: 6%">
            JavaScript
            <ul>
                <li>AngularJS</li>
                <li>MongoDB</li>
                <li>NodeJS</li>
                <li>Express.js</li>
                <li>jQuery</li>
            </ul>

        </li>
        <li style="float: left;margin-left: 7%">Bases de Datos
            <ul>
                <li>MySQL</li>
                <li>SQLite</li>
                <li>SQL Server</li>
                <li>PostgreSQL</li>
            </ul>
        </li>
        <li style="float: left;margin-left: 8%">Python
            <ul>
                <li>Django</li>
            </ul>
        </li>
        <li style="float: left;margin-left: 9%; margin-bottom: 220px;">TypeScript</li>

    </ul>

</article>